[Unit]
Description="CodeReady Containers"
Requires=crc-log.service

[Install]
WantedBy=default.target

[Service]
Type=notify
TimeoutStartSec=20min
TimeoutStopSec=10min

Environment=PYTHONUNBUFFERED=1

ExecStart=%h/python-crc-systemd/__main__.py start
