[Unit]
Description="CRC Log Forwarder"

[Service]
Type=simple

ExecStartPre=touch %h/.crc/crc.log

ExecStart=systemd-cat tail -f=name %h/.crc/crc.log
